In [1]:
import pandas as pd
data=pd.read_csv(r"D:\Hotel Reservations.csv")

In [2]:
data

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [3]:
x=data[['no_of_weekend_nights','no_of_week_nights']]
x

       no_of_weekend_nights  no_of_week_nights
0                         1                  2
1                         2                  3
2                         2                  1
3                         0                  2
4                         1                  1
...                     ...                ...
36270                     2                  6
36271                     1                  3
36272                     2                  6
36273                     0                  3
36274                     1                  2

[36275 rows x 2 columns]

In [4]:
y=data['avg_price_per_room']

In [5]:
y

0         65.00
1        106.68
2         60.00
3        100.00
4         94.50
          ...
36270    167.80
36271     90.95
36272     98.39
36273     94.50
36274    161.67
Name: avg_price_per_room, Length: 36275, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
r=LinearRegression()

In [9]:
r.fit(x_train,y_train)

LinearRegression()

In [10]:
print(r.intercept_)

102.48989752204456

In [11]:
print(r.coef_)

[-0.36565077  0.66154333]

In [12]:
y_pred=r.predict(x_test)

In [15]:
data_preds = pd.DataFrame({'Actual': y_test.squeeze(), 'Predicted': y_pred.squeeze()})

NameError: name 'y_pred' is not defined

In [16]:
data_preds = pd.DataFrame({'Actual': y_test.squeeze(), 'Predicted': y_pred.squeeze()})

NameError: name 'y_pred' is not defined

In [17]:
y_pred=r.predict(x_test)

In [18]:
data_preds = pd.DataFrame({'Actual': y_test.squeeze(), 'Predicted': y_pred.squeeze()})

In [19]:
print(data_preds)

       Actual   Predicted
23651   82.45  103.743226
27934   81.00  102.785790
14968  135.15  103.743226
3730    95.63  103.081683
31215   96.30  103.812984
...       ...         ...
17046   68.07  103.743226
31928   76.00  102.124247
11468   99.00  104.474528
9947    89.00  103.447333
14427   72.00  102.124247

[10883 rows x 2 columns]

In [20]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [21]:
mae=mean_absolute_error(y_test,y_pred)

In [22]:
mse=mean_squared_error(y_test,y_pred)

In [23]:
import numpy as np

In [24]:
rmse=np.sqrt(mse)

In [ ]:
print(f'Mean absolute error:{mae:.2f}')